
.df_loading_grid {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    border: 8px solid rgba(188, 226, 241, 0.3); // Sky blue metallic border with some transparency
    border-radius: 80%; // Sky blue metallic color for the top to create a spinning effect
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    // 50% {
    //     transform: rotate(180deg);
    // }

    100% {
        transform: rotate(360deg);
    }
}